@import "tailwindcss";

@font-face {
  font-family: GeneralSanz;
  src: url('/fonts/general-sans/GeneralSans-Regular.woff2')
}

body {
  --bgcolor: #0e0f10;
  --textcolor: #AAA;
  font-family: GeneralSanz;
  color: var(--textcolor);
  background-image: linear-gradient(to bottom, var(--bgcolor), var(--bgcolor) 10%, #18191a);
}

a {
  color: inherit;
}
